{% extends 'layouts/main.html' %}
{% block title %}Flask Template{% endblock %}
{% block content %}

<div class="page-header">
  <h1>This is a base template for a Flask Project</h1>
</div>
<p class="lead">will be used for future simple flask projects</p>

<div class="container text-center">
<div class="row">
  <div class="col">
  <ul>
    <li id="icon-image"><img class="img-thumbnail" src="{{ url_for('static', filename='images/content-management.png') }}"> </img></li>
    <li id="icon-image"><img class="img-thumbnail" src="{{ url_for('static', filename='images/creativity.png') }}"> </img></li>
    <li id="icon-image"><img class="img-thumbnail" src="{{ url_for('static', filename='images/graphic-tablet.png') }}"> </img></li>
    <li id="icon-image"><img class="img-thumbnail" src="{{ url_for('static', filename='images/idea.png') }}"> </img></li>
  </ul>
  </div>
</div>
<div class="row">
  <div class="col">
  <ul>
    <li id="icon-image"><img class="img-thumbnail" src="{{ url_for('static', filename='images/project.png') }}"> </img></li>
    <li id="icon-image"><img class="img-thumbnail" src="{{ url_for('static', filename='images/prototype.png') }}"> </img></li>
    <li id="icon-image"><img class="img-thumbnail" src="{{ url_for('static', filename='images/strategy.png') }}"> </img></li>
    <li id="icon-image"><img class="img-thumbnail" src="{{ url_for('static', filename='images/ui-design.png') }}"> </img></li>
  </ul>
  </div>
  </div>
  </div> <!--end div of inner-box-->
</div> <!--end div of box-->

{% endblock %}
